/* palette */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --bg-app: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}

/* general */
body {
    font-family: 'Lato', sans-serif;
}
#app {
	width: 100%;
	height: 100vh;
	background: var(--bg-app);
	padding: 50px 0;
}
.profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.my-fluid {
	width: 100%;
	display: block;
}
.dark-grey {
	color: var(--color-dark-grey);
	font-size: 0.8em;
}

/* left col */
.h0 {
	height: 0;
}
.bg-header {
	background-color: var(--color-headers);
}
.header-icons {
	font-size: 1.4em;
	color: var(--color-light-icons);
	display: flex;
	align-items: center;
}
.bg-notifications {
	background-color: var(--color-notification);
	color: var(--color-notification);
}
.bg-main {
	background-image: url(../img/mine.jpg);
}
