/* palette */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --bg-app: linear-gradient(180deg, #009688 24.99%, #DCDBD3 25%);
}

/* general */
body {
    font-family: 'Lato', sans-serif;
}
i {
	cursor: pointer;
}
#app {
	width: 100%;
	height: 100vh;
	background: var(--bg-app);
	padding: 50px 0;
}
.profile-pic {
	width: 50px;
	height: 50px;
	min-width: 40px;
	min-height: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.my-fluid {
	width: 100%;
	display: block;
}
.dark-grey {
	color: var(--color-dark-grey);
	font-size: 0.8em;
}
.ligh-grey {
	color: var(--color-text-grey);
	font-size: 0.78em;
}
.active {
	background-color: var(--color-contact-hover);
}
.pointer {
	cursor: pointer;
}

/* left col */
.h0 {
	height: 0;
}
.bg-header {
	background-color: var(--color-headers);
}
.header-icons {
	font-size: 1.4em;
	color: var(--color-light-icons);
	display: flex;
	align-items: center;
}
.bg-notifications {
	background-color: var(--color-notification);
	color: var(--color-notification);
}
.hour {
	position: absolute;
	top: 8px;
	right: 8px;
}
.bg-name {
	background-color: rgba(0, 0, 0, 0.143);
}

/* right col */
.bg-main {
	background-image: url(../img/mine.jpg);
}
.sent {
	align-self: flex-end;
	background-color: var(--color-sent-message);
	margin: 10px 0;
	padding: 15px;
	border-radius: 20px;
}
.received {
	align-self: flex-start;
	background-color: var(--color-white);
	margin: 10px 0;
	padding: 15px;
	border-radius: 20px;
}
.msg-date {
	position: absolute;
	right: 15px;
	bottom: 5px;
}
#msg-section .dropdown-toggle {
	text-decoration: none;
	font-size: 1.8em;
	opacity: 0;
	color: var(--color-dark-grey);
	transition: all 0.3s ease;
}
#msg-section .message:hover .dropdown-toggle{
	opacity: 1;
}
#msg-section {
	font-size: 0.86em;
}
.header-icons .dropdown-toggle:empty::after {
    display: none !important;
}


.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}


